<%= render partial: 'welcome/search' %>
<%= render partial: "categories/productlist", :locals => {:order => "订单"} %>
<div class="order-list-con">
	<div class="order-left-con">
		<ul>
			<a href="/personal-center.html"><li style='color:red'>个人中心</li></a>
			<a href="" class="my-order"><li>我的订单</li></a>
			<a href=""><li>修改密码</li></a>
			<a href=""><li>关于MMall</li></a>
		</ul>
 	</div>

 	<div class="order-right-con">
 		<div class="my-title-tt">个人中心</div>
 		
 	</div>
</div>
