<div class="header">
	<div class="logo">
		<a href="/" >MMall</a>
	</div>
	
	<div class="search-form">
		<%= search_field_tag 'search-input', nil, class: 'search-input', placeholder: "请输入商品名称" %>
		<%= button_tag "搜索", type: 'button', class: "search-btn" %>
	</div>
</div>
