<div class='about-con'>
	<div class="my-title-tt">关于MMall</div>
	<span class='personal-center'>我们是谁？</span>
	<span class='personal-center'>我们从哪来？</span>
	<span class='personal-center'>我们能干啥？</span>
	<span class='personal-center'>怎么找我们？</span>
</div>