<div class="order-header">
  <div class="header-left">
    <%= link_to (image_tag "dog.png"), root_path %>
    <%= image_tag 'jiesuan.png' %>
  </div>
  <div class="header-right">
    <%= image_tag 'orderone.png' %>
  </div>
  <span class="tt-ortext">填写并核对订单信息</span>
</div>

<div class="order-content-w">
  <div class="order-content-con">
    <span class="shouhuo">收货人信息</span>
    <a class="xinzeng-add" href="javascript:showAddress();">新增收货地址</a>
  </div>
</div>

<!-- 弹出框前面的阴影面积 -->
<div id="hidebg"></div>
<!-- 新建地址弹出框 -->
<div class="address-con">
  <div class="address-title-con">
    <span class="address-title">新增收货地址</span>
    <a class="address-x" href="javascript:addressHide();">×</a>
  </div>

  <div class="form-con">
    <div style="float:left">
      <span class="xinxin">*</span>&nbsp;所在地区&nbsp;&nbsp;
    </div>
    <div id="store-selector">
      <div class="text">
        <input type="text"  value="--请选择--" readonly="readonly" style="border:none;" />
        <b></b>
      </div>
      <div onclick="$('#store-selector').removeClass('hover')" class="close"></div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'location' %> 

<script type="text/javascript">
  
</script>




