<div class="order-header">
  <div class="header-left">
    <%= link_to (image_tag "dog.png"), root_path %>
    <%= image_tag 'jiesuan.png' %>
  </div>
  <div class="header-right">
    <%= image_tag 'orderone.png' %>
  </div>
  <span class="tt-ortext">填写并核对订单信息</span>
</div>

<div class="order-content-w">
  <div class="order-content-con">
    <span class="shouhuo">收货人信息</span>
    <a class="xinzeng-add" href="javascript:showAddress();">新增收货地址</a>
  </div>
</div>

<div id="hidebg"></div>

<div class="address-con">
  <div class="address-title-con">
    <span class="address-title">新增收货地址</span>
    <a class="address-x" href="javascript:addressHide();">×</a>
  </div>

  <div class="form-con">
      
  </div>
</div>








<body>



<ul id="list1" style="width:620px;margin:40px auto 0 auto;">

  <li id="summary-stock">

    <div class="dt">配&nbsp;送&nbsp;至：</div>

    <div class="dd">

      <div id="store-selector">

        <div class="text"><div></div><b></b></div>                   

        <div onclick="$('#store-selector').removeClass('hover')" class="close"></div>

      </div><!--store-selector end-->

      <div id="store-prompt"><strong></strong></div><!--store-prompt end--->

    </div>

  </li>

</ul>





</body>

</html>

