/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "home";
@import "session";
@import "welcome";
@import "user";
@import "category";
@import "product";

// .site-category-list .title {
//     color: #fff;
// }
// .site-category-list .title {
//     position: relative;
//     display: block;
//     padding-left: 30px;
//     height: 42px;
//     line-height: 42px;
//     color: #424242;
// }
// a {
//     color: #757575;
//     text-decoration: none;
// }
// user agent stylesheet
// a:-webkit-any-link {
//     color: -webkit-link;
//     text-decoration: underline;
//     cursor: auto;
// }
// Inherited from li.category-item
// user agent stylesheet
// li {
//     display: list-item;
//     text-align: -webkit-match-parent;
// }
// Inherited from ul#J_categoryList.site-category-list.clearfix
// .site-category-list {
//     height: 420px;
//     border: 0;
//     color: #fff;
//     background: #333;
//     background: rgba(0,0,0,0.6);
// }
// .site-category-list {
//     height: 418px;
//     margin: 0;
//     padding: 20px 0;
//     list-style-type: none;
//     border: 1px solid #ff6700;
//     color: #424242;
//     background: #fff;
// }
// user agent stylesheet
// ul ul, ol ul {
//     list-style-type: circle;
// }
// user agent stylesheet
// ul, menu, dir {
//     display: block;
//     list-style-type: disc;
//     -webkit-margin-before: 1em;
//     -webkit-margin-after: 1em;
//     -webkit-margin-start: 0px;
//     -webkit-margin-end: 0px;
//     -webkit-padding-start: 40px;
// }
// Inherited from div.site-category
// .site-category {
//     display: none;
//     position: absolute;
//     top: 88px;
//     left: -92px;
//     z-index: 21;
//     width: 234px;
//     height: 460px;
//     font-size: 14px;
// }
// Inherited from li#J_navCategory.nav-category
// user agent stylesheet
// li {
//     display: list-item;
//     text-align: -webkit-match-parent;
// }
// Inherited from ul.nav-list.J_navMainList.clearfix
// .site-header .nav-list {
//     position: relative;
//     z-index: 10;
//     float: left;
//     width: 820px;
//     height: 88px;
//     margin: 0;
//     padding: 12px 0 0 30px;
//     list-style-type: none;
//     font-size: 16px;
// }
// user agent stylesheet
// ul, menu, dir {
//     display: block;
//     list-style-type: disc;
//     -webkit-margin-before: 1em;
//     -webkit-margin-after: 1em;
//     -webkit-margin-start: 0px;
//     -webkit-margin-end: 0px;
//     -webkit-padding-start: 40px;
// }
// Inherited from body
// body {
//     font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
//     color: #333;
//     background-color: #fff;
//     min-width: 1226px;
// }
// Inherited from html
// html, button, input, select, textarea {
//     font-family: sans-serif;
// }
// html {
//     font-size: 100%;
//     -ms-text-size-adjust: 100%;
//     -webkit-text-size-adjust: 100%;
// }

body {
    background-color: #f6f6f6;
    min-width: 1080px;
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
}

* {
  margin: 0;
  padding: 0;
}


