.top-nav{
    background-color: #B00000;
    margin-top: 0px;
    padding-top:  80px;
}

.nav{
    background-color: #F0F0F0;
    margin-top: 0px;
    padding-top:  6px;
}

ul.ul-nav{
    list-style-type: none;
    float: right;
}

ul.ul-nav li{
    font-size: 5px;
    display: inline;
    position: relative;
    left: -150px;
}

ul.ul-nav li.login {
    position: absolute;
    left: 150px;
}


ul.ul-nav li.register {
    position: absolute;
    left: 220px;
}
a {
    color: gray;
}
ul a:link {
    text-decoration: none;
}

ul a:hover {
    color: red;
}

// admin/home
.page-wrapper {
    position: relative;
    width: 100%;
    height: 725px;
    background: #FCFCFC;
    top: -20px;
    font-size: 14px; 
}

a, span {
    color: #337ab7;
    
}

.left-nav {
    width: 20%;
    height: 100%;
    background: #f8f8f8;
    border-right: 1px solid #DDDDDD;
}

li{
    list-style-type: none;
}

li:hover{
    background: #E8E8E8;
}

.li-one {
    width: 100%px;
    height: 40px;
    border-bottom: 1px solid #DDDDDD;
}

.li-two {
    width: 100%;
    height: 40px;
}


.a-one {
    position: relative;
    left: 5%;
    top: 20%;
}

.a-two {
    position: relative;
    left: 40px;
    top: 10px;
}

.top-con {
    position: absolute;
    left: 345px;
    top: 50px;
    width: 70%;
    height: 60px;
    border-bottom: 1px solid #eee;
    font-size: 28px;
}

.top {
    position: relative;
    top: 10px;
    content: red;
}

.nav-top {
    color:  #666;
}

.content-con {
    width: 970px;
    height:  670px;
    // border: 1px solid red;
    position: absolute;
    left: 346px;
    top: 106px;
    font-size: 14px;
}

.content {
    padding-top: 15px;
    content: #333;
}
