.top-nav{
    background-color: #B00000;
    margin-top: 0px;
    padding-top:  80px;
}

.nav{
    background-color: #F0F0F0;
    margin-top: 0px;
    padding-top:  6px;
}

ul.ul-nav{
    list-style-type: none;
    float: right;
}

ul.ul-nav li{
    font-size: 5px;
    display: inline;
    position: relative;
    left: -150px;
}

ul.ul-nav li.login {
    position: absolute;
    left: 150px;
}


ul.ul-nav li.register {
    position: absolute;
    left: 220px;
}
a {
    color: gray;
}
ul a:link {
    text-decoration: none;
}

ul a:hover {
    color: red;
}

// admin/home
.page-wrapper {
    position: relative;
    width: 100%;
    height: 725px;
    background: #FCFCFC;
    top: -20px;
    font-size: 15px; 
}

.navbar-brand {
    position: absolute;
    left: 10px;
    top: 0px;

}

a, span {
    color: #337ab7;
    
}

a{
   position: relative;
    top: 25%;
    left: 10%; 
}

.left-nav {
    width: 20%;
    height: 100%;
    background: #e7e7e7;
    border-right: 1px solid #DDDDDD;
}

li {
    list-style-type: none;
}

.li-one {
    width: 100%px;
    height: 50px;
    border-bottom: 1px solid #DDDDDD;

}

.li-two {
    width: 100%;
    height: 125px;
    border-bottom: 1px solid #DDDDDD;
}

.li-three {
    position: relative;
    left: 15px;
    top: 15px;
    padding-top: 10px;
}

.li-four {
    position: relative;
    left: 15px;
    top: 5px;
    padding-top: 10px;
    border-bottom: 1px solid #DDDDDD;
}

// .nav {
//     padding-left: 0;
//     margin-bottom: 0;
//     list-style: none;
// }
// ul {
//     // display: block;
//     font-size: 15px;
//     list-style-type: none;
//     -webkit-margin-before: 1em;
//     -webkit-margin-after: 1em;
//     -webkit-margin-start: 0px;
//     -webkit-margin-end: 0px;
//     -webkit-padding-start: 40px;
// }

// a, span{
//     color: #337ab7;
//     text-decoration: none;
// }

// .home-png {
//     position: relative;
//     left: -20px;
//     top: 20px;
// }

// .home-con {
//     border: 1px solid #DDDDDD;
// }
// .nav-home {
//     display: block;
//     border: 1px solid #DDDDDD;
//     width: 250px;
//     height: 40px;
//     position: absolute;
//     left: 0px;

// }
// li {
//     padding: 20px;
// }

