//orders/new.html,erb
.order-header {
	width: 100%;
	height: 160px;
	background: white;
}

.header-left {
	height: 55px;
	width: 230px;
	// border: 1px solid red;
	position: relative;
	top: 30px;
	left: 190px;
}

.header-right {
	width: 490px;
	height: 55px;
	// border: 1px solid red;
	position: relative;
	left: 710px;
	top: -25px;
}

.tt-ortext {
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: #666;
	position: relative;
	left: 200px;
}

.order-content-w {
	width: 100%;
	height: auto;
	min-height: 500px;
	background: white;
}

.order-content-con {
	width: 990px;
	height: auto;
	min-height: 500px;
	border: 1px solid #f0f0f0;
	margin: 0 auto;
}

.shouhuo {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 15px;
}

.xinzeng-add {
	color: #005ea7;
	float: right;
	position: relative;
	top: 10px;
	left: -10px;
	cursor: pointer;
}

.xinzeng-add:hover{
	text-decoration: none;
	color: red;
}

.xinzeng-add:link{
	text-decoration: none;
}

#address-back {
	position:absolute;
	left:0px;
	top:0px;
  background-color:#000;
  width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
  filter:alpha(opacity=10);  /*设置透明度为60%*/
  opacity:0.1; /*非IE浏览器下设置透明度为60%*/
  // display:none;
  z-index: 2;
}

.address-con {
	height: 510px;
	width: 688px;
	background: white;
	border: 4px solid rgba(0,0,0,.1);
	position: absolute;
	top: 100px;
	left: 350px;
	// display:none;
	z-index: 3;
}

.address-title-con {
	width: 100%;
	height: 26px;
	background: #f3f3f3;
	
}

.address-title {
	color: #666;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	position: relative;
	top:2px;
	left: 8px;
}

.address-x {
	font-size: 25px;
 	color: #DDDDDD;
 	float: right;
 	cursor: pointer;
 	position: relative;
 	top: -6px;
}

.address-x:hover {
	text-decoration: none;
	color: #DDDDDD;
}

.address-x:link {
	text-decoration: none;
	color: #DDDDDD;
}

.form-con {
	width: 613px;
	height: 318px;
	// border: 1px solid red;
	position: relative;
	top: 20px;
	left: 20px;
}

.in-area {
	color: #666;	
}

.save-address {
	// border: 1px solid red;
	width: 900px;
	height: 30px;
	position: relative;
	left: 40px;
	top: 30px;
	margin-bottom: 10px;
}

.address-title {
	color: #666;
}

.address-area-common {
	height: 28px;
	font-size: 12px;
	overflow:hidden;
  line-height: 18px;
  padding: 5px 10px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  float:left;
}

.address-area {
  border: 1px solid #ddd;
}

.address-area-ss {
  border: 2px solid #e4393c;
}

.address-pho {
	color: #666;
	font-size: 12px;
	position: relative;
	left: -103px;
	top: 4px;
}

.add-weizhi {
	color: #005ea7;
	font-size: 12px;
	position: relative;
	top: 4px;
	left: -20px;
	float: right;
}

// .set-address {
// 	cursor: pointer;
// }

.set-address:hover {
	color: red;
}

.address-area-common b{
	background: url("//misc.360buyimg.com/user/purchase/2.0.0/css/i/selected-icon.png") no-repeat;
	display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  // overflow: hidden;
  left: 108px;
  top: 15px;
}

.error-msg span{
	color: #e4393c;
}

.error-msg {
	display: none;
}

.error-area-con {
	width: 180px;
	height: 20px;
	// border: 1px solid blue;
	position: relative;
	left: 200px;
	top: -25px;
}

.add-one {
	// width: 64px;
	// height: 24px;
	background: #999;
	color: #fff;
	padding: 3px 2px;
	position: relative;
	left: -200px;
}

.add-two{
	display: none;
	cursor: pointer;
}

.add-two:hover{
	color: red;
}

.edit-class:hover{
	color: red;
	text-decoration: none;
}

.edit-class{
	color: #005ea7;
	display: none;
}

.address-right {
	width: 780px;
	height: 28px;
	// border: 1px solid red;
	position: relative;
	left: 120px;
}

.addr-switch {
	position: relative;
	left: 40px;
	top: 30px;
	// border: 1px solid red;
	width: 80px;
	height: 20px;
	cursor: pointer;
}

.addr-switch span{
	color: #666;	
}

.scoll{
	overflow-y:scroll;
}