//orders/new.html,erb
.order-header {
	width: 100%;
	height: 160px;
	background: white;
}

.header-left {
	height: 55px;
	width: 230px;
	// border: 1px solid red;
	position: relative;
	top: 30px;
	left: 190px;
}

.header-right {
	width: 490px;
	height: 55px;
	// border: 1px solid red;
	position: relative;
	left: 710px;
	top: -25px;
}

.tt-ortext {
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: #666;
	position: relative;
	left: 200px;
}

.order-content-w {
	width: 100%;
	height: auto;
	// min-height: 600px;
	background: white;
}

.order-content-con {
	width: 990px;
	height: auto !important;
	 zoom:1;
	 overflow:hidden;
	// min-height: 700px;
	border: 1px solid #f0f0f0;
	margin: 0 auto;
	background: white;
}

.shouhuo {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 15px;
}

.xinzeng-add {
	color: #005ea7;
	float: right;
	position: relative;
	top: 10px;
	left: -10px;
	cursor: pointer;
}

.xinzeng-add:hover{
	text-decoration: none;
	color: red;
}

.xinzeng-add:link{
	text-decoration: none;
}

#address-back {
	position:absolute;
	left:0px;
	top:0px;
  background-color:#000;
  width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
  filter:alpha(opacity=10);  /*设置透明度为60%*/
  opacity:0.1; /*非IE浏览器下设置透明度为60%*/
  // display:none;
  z-index: 2;
}

.address-con {
	height: 510px;
	width: 688px;
	background: white;
	border: 4px solid rgba(0,0,0,.1);
	position: absolute;
	top: 100px;
	left: 350px;
	// display:none;
	z-index: 3;
}

.address-title-con {
	width: 100%;
	height: 26px;
	background: #f3f3f3;
	
}

.address-title {
	color: #666;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	position: relative;
	top:2px;
	left: 8px;
}

.address-x {
	font-size: 25px;
 	color: #DDDDDD;
 	float: right;
 	cursor: pointer;
 	position: relative;
 	top: -6px;
}

.address-x:hover {
	text-decoration: none;
	color: #DDDDDD;
}

.address-x:link {
	text-decoration: none;
	color: #DDDDDD;
}

.form-con {
	width: 613px;
	height: 318px;
	// border: 1px solid red;
	position: relative;
	top: 20px;
	left: 20px;
}

.in-area {
	color: #666;	
}

.save-address {
	// border: 1px solid red;
	width: 900px;
	height: 30px;
	position: relative;
	left: 40px;
	top: 30px;
	margin-bottom: 10px;
}

.address-title {
	color: #666;
}

.address-area-common {
	// border: 1px solid red;
	height: 28px;
	font-size: 12px;
	overflow:hidden;
  line-height: 18px;
  padding: 5px 10px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  float:left;
}

.address-area {
  border: 1px solid #ddd;
}

.address-area-ss {
  border: 2px solid #e4393c;
}

.address-pho {
	color: #666;
	font-size: 12px;
	position: relative;
	left: -103px;
	top: 4px;
}

.add-weizhi {
	color: #005ea7;
	font-size: 12px;
	position: relative;
	top: 4px;
	left: -20px;
	float: right;
}

// .set-address {
// 	cursor: pointer;
// }

.set-address:hover {
	color: red;
}

.address-area-common b{
	background: url("//misc.360buyimg.com/user/purchase/2.0.0/css/i/selected-icon.png") no-repeat;
	display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  // overflow: hidden;
  left: 108px;
  top: 15px;
}

.error-msg span{
	color: #e4393c;
}

.error-msg {
	display: none;
}

.error-area-con {
	width: 180px;
	height: 20px;
	// border: 1px solid blue;
	position: relative;
	left: 200px;
	top: -25px;
}

.add-one {
	// width: 64px;
	// height: 24px;
	background: #999;
	color: #fff;
	padding: 3px 2px;
	position: relative;
	left: -200px;
}

.add-two{
	display: none;
	cursor: pointer;
}

.add-two:hover{
	color: red;
}

.edit-class:hover{
	color: red;
	text-decoration: none;
}

.edit-class{
	color: #005ea7;
	display: none;
}

.address-right {
	width: 780px;
	height: 28px;
	// border: 1px solid red;
	position: relative;
	left: 120px;
}

.addr-switch {
	position: relative;
	left: 40px;
	top: 30px;
	// border: 1px solid red;
	width: 80px;
	height: 20px;
	cursor: pointer;
}

.addr-switch span{
	color: #666;	
}

.con-show-hide {
	position: relative;
	top: -20px;
}

.scoll{
	// border: 1px solid red;
	width: 960px;
	position: relative;
	top: 20px;
	// overflow-y:scroll;
	overflow-height: 160px;
	// height: 165px;
}

.inline {
	width: 945px;
	height: 100px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #e6e6e6;
	position: relative;
	margin: 0px auto;
	top: 55px;
}

.pay-style {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	position: relative;
	top: 15px;
	width: 100px;
	height: 30px;
}

.pay-son {
	position: relative;
	top: 65px;
	left: 23px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.zhifu {
	display: block;
	width: 110px;
	height: 40px;
}
 
.zhifu-con {
	// width: 100px;
	// height: 30px;
	// border: 1px solid blue;
	position: relative;
	top: 30px;
}

.delivery {
	height: 195px;
	width: 945px;
	// border: 1px solid red;
	position: relative;
	top: 70px;
	margin: 0px auto;
	margin-bottom: 10px;
}

.pay-bottom {
	height: 190px;
	// border: 1px solid blue;

}

.pay-bottom-left {
	width: 335px;
	// border: 1px solid blue;
	height: 100%;
	float: left;
	background-color: #f7f7f7;
}

.pay-bottom-right {
	width: 610px;
	// border: 1px solid blue;
	height: 100%;
	float: right;
	background-color: #f3fbfe;
}

.pp-title {
	color: #666;
	position:relative;
	top: 10px;
	left: 10px;
	font-weight: bold;
}

.sj-title {
	color: #666;
	position:relative;
	top: -20px;
	left: 10px;
	font-weight: bold;
}

.peisong-png {
	width: 150px;
	height: 45px;
	position: relative;
	top: 10px;
	left: 3px;
}

.sj-image {
	width: 85px;
	height: 85px;
	border: 1px solid #ddd;
	position: relative;
	top: 40px;
	left: -20px;
}

.sc-title {
	display: block;
	width: 245px;
	position: relative;
	top: -45px;
	color: #666;
	left: 100px;
}

.sj-price {
	font-weight: bold;
  color: #e4393c;
	position: relative;
	top: -80px;
	left: 380px;
	cursor: pointer;
}

.sj-amount {
	left:  450px;
	color: #666;
}

.order-bottom {
	padding-top: 30px;
	// width: 990px;
	margin: 0 auto;
	background-color: white;
	position: relative;
	height: 80px;
	border: none;
}

.whiteicon{
	height: 50px;
	background-color: white;
}

.botton-con {
	height: 80px;
	width: 990px;
	background-color: #f4f4f4;
	// border: 1px solid blue;
	position: relative;
	top: -30px;
	margin: 0 auto;
}

.yf-price-con {
	position: relative;
	float: right;
	left: -30px;
	top: 30px;
}

.yf-title {
	color: #666;
}

.yf-price {
	color: #e4393c;
    font-family: Verdana;
    font-weight: 700;
    font-size: 18px;
}

.yf-jisong {
	float: right;
	position: relative;
	top: 60px;
	left: 160px;
}

.submit-order-con {
	height: 85px;
	// border: 1px solid blue;
	background: white;
}

.submit-order {
	width: 135px;
	height: 35px;
	// border: 1px solid	blue;
	border: none;
	position: relative;
	float: right;
	left: -200px;
	top: 20px;
	background-color: #e00;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: 900;
}

// orders/index.html.erb

.order-list-con {
	width: 100%;
	height: auto;
	min-height: 500px;
	overflow: hidden;
	zoom:1;
	// border: 1px solid red;
}

.order-list-con .order-left-con {
	height: 100px;
	width: 90px;
	// border: 1px solid blue;
	position: relative;
	left: 100px;
	top: 30px;
}

.order-left-con ul li {
	padding-bottom: 10px;
	background: none;
}

.order-list-con .order-right-con {
	width: 950px;
	height: auto;
	overflow: hidden;
	zoom: 1;
	min-height: 250px;
	background: white;
	// border: 1px solid blue;
	position: relative;
	left: 200px;
	top: -70px;
}

.order-right-con .my-title-tt {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
	padding: 10px;
	width: 930px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.order-right-con .order-title {
	width: 930px;
	height: 35px;
	background: #eeeeee;
	margin: 0 auto;
}

.order-title span {
	padding-left: 115px;
	position: relative;
	top: 10px;
}

.order-title .shop-common {
	float: right;
	position: relative;
	left: -50px;
	color: #666;
}


.order-title .shop-info { 
	color: #666;
}

.order-right-con .order-info-con {
	width: 930px;
	height: auto;
	overflow: hidden;
	zoom: 1;
	margin: 0 auto;
	margin-top: 20px;
}

.order-info-con .order-top {
	width: 100%;
	height: 35px;
	background: #eeeeee;
	// margin-bottom: 20px;
}

.order-top span {
	position: relative;
	top: 8px;
	padding-left: 30px;
	color: #999;
}

.order-number a{
	text-decoration: none;
	color: #999;
}

.order-number a:hover{
	color: #c60023;
}

.order-top .order-total .total{
	color: #c60023;	
}

.order-info-con .order-info {
	width: 100%;
	height: 105px;
	background: #fafafa;
	border-bottom: 1px solid #eee;
}

.order-info .order-image {
	border: 1px solid #eee;
	position: relative;
	top: 13px;
	width: 80px;
	height: 80px;
}

.order-info .order-title {
	color: #999;
	position: relative;
	top: 10px;
	left: 20px;
} 

.order-info .order-title a{
	text-decoration: none;
} 

.order-info .order-title a:hover {
	color: #c60023;	
}


.order-info .order-pat{
	color: #999;
	position: relative;
	top: 40px;
	float: right;
	left: -40px;
	padding-left: 90px;
} 

.order-top .can-info {
	float: right;
	position: relative;
	left: -10px;
}

.order-top .can-info a{
	text-decoration: none;
}

.order-right-con .order-info-contt {
	width: 100%;
	height:  200px;
	// border: 1px solid red;
}


.order-text-inline {
	margin-bottom: 10px;
	padding-left: 20px;
}


.order-text-inline span{
	color: black;	
}

.order-text-inline .order-common{
	display: inline-block;
	background: #c60023;
	color: #fff;
	line-height: 25px;
	font-weight: bolder;
	font-size: 12px;
	margin-right: 10px;
	text-align: center;
}

.order-text-inline .order-common:hover {
	text-decoration: none;
	cursor: pointer;
}

.order-text-inline .go-pay {
	width: 55px;
	height: 25px;
}

.order-text-inline .cancel-order {
	width: 70px;
	height: 25px;
}

.order-right-con .con-back {
	width: 100%;
	height: 20px;
	background:  #eeeeee;
}

.order-total-con {
	float: right;
	height: 70px;
	line-height: 70px;
	padding-right: 20px;
}

.order-total-con .total-price-title {
	font-size: 14px;
	color: #000447;
}


.order-total-con .total-price {
	font-size: 14px;
	color: #c60023;
}

.about-con {
	width: 100%;
	height: 170px;
}