.header-simple .logo{
	margin-right: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
    position: relative;
    left: 158px;
}

.header-simple {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.user-wrap {
    // padding: 40px 0;
    background: #e72955;
    width: 100%;
    height: 400px;
}

.user-con {
	background: white;
	margin: 0 auto;
    width: 400px;
    height: 320px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.user-session {
    height: 320px;
    width: 400px;
}

.user-title {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: #666;
}
.image-con {
    // position: absolute;
    // left: 0;
    // top: 0;
    // bottom: 0;
    // width: 40px;
    // line-height: 36px;
    // background: #f3f3f3;
    // font-size: 18px;
    // color: #d3d3d3;
    // text-align: center;
    border: 1px solid #bdbdbd;
    width: 40px;
    height: 40px;
    background-color: #f3f3f3;
    margin-left: 25px;
    margin-top: 25px;
    
}

.image-con-png {
	position: relative;
	left: 25%;
	top: 25%;
	width: 17px;
	height: 18px
}


.input-text {
	 width: 315px;
  height: 40px;
  left: 64px;
  top: -40px;
  position: relative;
  outline: none;
}

.user-btn {
    display: block;
    padding: 6px 0;
    width: 358px;
    margin: 0 auto;
    margin-top: 20px;
    background: #e4393c;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.err-item {
    position: relative;
    border: 1px solid red;
    background: #fde9e9;
    width: 345px;
    height: 26px;
    margin: 0 auto;
    transform: translateY(40%);
    color: red;

    // display: none;
}

.link-item {
    // border: 1px solid red;
    width: 280px;
    position: relative;
    left: 90px;
    top: 20px;
}

.link-item a{
    // border: 1px solid blue;
    padding-right: 10px;
    float: right;

}
// .link-item-forget {
//     border: 1px solid blue;
//     page-break-after:  30px;
// }

.link-item a:link {
	text-decoration: none;
	color: #666;
}

.line-item a:hover {
	color: red;
}

.user-item {
    color: gray;
    font-size: 14px;
    text-align: 10px;
    height: 35px;
}

.user-item-text {
    position: relative;
    left: 25px;
    top: 20px;
}

.email-text {
    position: relative;
    left:  38px;
    top: -22px;
    width: 300px;
    height: 41px;
}