// shopping_carts/create.html.erb

.shopping-succ {
	width: 100%;
	height: 145px;
	background: #f5f5f5;
	border-top: 2px solid #f30213;
	border-bottom: 2px solid #f30213;

}

.success-lcol {
	width: 650px;
	height: 120px;
	// border: 1px solid blue;
	position: relative;
	left: 85px;
	top: 10px;
}

.add-success {
	color: #71b247;
	font-size: 18px;
	position: relative;
	top: -7px;
}

.sucess-con {
	// display: block;
	margin-bottom: 20px;
}

.shopimage-con {
	width: 58px;
	height: 58px;
}

.shop-title {
	color: #333;
	font-size: 14px;
	position: relative;
	top: -10px;
}

.shop-title a:hover {
	color: #f30213;
	cursor: pointer;
	text-decoration: none;
}

.shop-amout {
	color: #aaa;
	font-size: 13px;
	position: relative;
	left: -334px;
	top:5px;
}

.shopbtn-con {
	width: 376px;
	height: 60px;
	// border: 1px solid blue;
	position: relative;
	left: 65%;
	top: -40%;
}

.shop-des {
	width: 160px;
	height: 35px;
	background: #fff;
	font-size: 16px;
	line-height: 220%;
	text-align: center;
	position: relative;
	top: 20px;
}

.shop-des a{
	color: #e4393c;
}

.shop-cart{
	width: 170px;
	height: 35px;
	background: #e4393c;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 220%;
	position: relative;
	left: 180px;
	top: -15px;
	cursor: pointer;
}

.shop-cart a{
	color: #fff;
	text-decoration: none;
}

.shop-des, .shop-cart, .shop-title, .shop-amout{
	font-family: "Microsoft YaHei";
}

.shop-des:hover {
	cursor: pointer;
	border: 1px solid #e4393c;
}

.shop-des a:hover {
	text-decoration: none;
}

.shop-cart:hover {
	background: #CE0000;
}

// shopping_carts/index.html.erb
.now-login {
	width: 990px;
	height: 50px;
	border: 1px solid #edd28b;
	background: #fffdee;
	color: #f70;
	margin-bottom: 20px;
}

.wicon {
	position: relative;
	top: 12px;
	left: 15px;
}

.wicon-title {
	color: #f70;
	position: relative;
	top: 12px;
	left: 18px;
}

.wicon-btn {
	display: block;
	width: 70px;
	height: 25px;
	background-color: #e74649;
	font-family: arial,"Microsoft YaHei";
	font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-top: 4px;
  position: relative;
  top: -10px;
  left: 350px;
}

.wicon-btn:hover {
	text-decoration: none;
	color: #fff;
	background: #FF5151;
}

.shopping-main {
	width: 990px;
	margin: 0 auto;
	// border: 1px solid red;
	min-height: 500px;
	height: auto;
	margin-top: 30px;
	background: white;
	overflow: hidden;
	// clear: both;
}

em {
	font-weight: 700;
  font-size: 16px;
	font-style: normal;
}

em:hover {
	color: #e4393c;
	cursor: pointer;
}

.title-div{
	width: 100%;
	height: 45px;
	background: #f3f3f3;
}

.column, .column:hover{
	color: #666; 
	background: none;
	margin-top: 15px;
	
}

.t-checkbox {
	padding-right: 100px;
	padding-left: 10px;
}

.t-shopping{
	padding-right: 400px;
}

.t-price, .t-amount{
	padding-right: 80px;
}

.t-total {
	padding-right: 70px;
}

.cart-concon {
	width: 990px;
	height: 125px;
	background: #fff;
	margin-top: 10px;
	border-style: solid;
	border-color: #aaa #f1f1f1 #f1f1f1;
	border-width: 2px 2px 2px;
	margin-bottom: 30px;
}

.t-box-con {
	margin-top: 15px;

}

.t-cart {
	width: 330px;
	height: 100px;
	// border: 1px solid red;
	position: relative;
	top: 12px;
	left: 8px;
}

// .t-input {
// 	position: relative;
// 	top: -20px;
// 	float: left;
// }

.cart-image-con {
	width: 88px;
	height: 80px;
	border: 1px solid blue;
	position: relative;
	left: 35px;
	top: -15px;
	border: 1px solid #eee;
	background: #fff;
	text-align: center;
}

.cart-image {
	width: 55px;
	height: 80px;
}

.tt-title {
	display: block;
	position: relative;
	left: 130px;
	top: -95px;
	width: 200px;
	height: 50px;
	color: #333;
}

.tt-title:hover {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

.tt-price {
	position: relative;
	left: 550px;
	top: -150px;
	color: #333;
}

.tt-amount {
	width: 80px;
	height: 20px;
	border: 1px solid #cacbcb;
	position: relative;
	left: 650px;
	top: -170px;
}

.tt-minus {
	display: block;
	text-align: center;
	width: 18px;
	border: 0px solid #cacbcb;
	cursor: pointer;
}

.tt-text {
	width: 43px;
	position: relative;
	left: 17px;
	top: -20px;
	text-align: center;
	// border: 1px solid #cacbcb;
	// border-style: solid;
	// border-bottom-color: #cacbcb;
	// border-top: none;
	// border-bottom: none;
	// border-left: none;
}

.tt-add {
	display: block;
	text-align: center;
	width: 18px;
	border: 0px solid #cacbcb;
	cursor: pointer;
	position: relative;
	left: 60px;
	top: -40px;
}

.tt-total {
	display: block;
	position: relative;
	left: 770px;
	width: 130px;
	top: -190px;
	color: #333;
	font-weight: bold;
}

.tt-sc {
	position: relative;
	top: -207px;
	left: 870px;
}

.tt-sc:hover {
	color: red;
	text-decoration: none;
}

.bottom-con {
	height: 57px;
	border: 1px solid #cacbcb;
	border-left: none;
}

.bottom-title {
	width: 150px;
	height: 20px;
	// border: 1px solid	blue;
	position: relative;
	top: 18px;
	left: 5px;
}

.bottom-title a:hover {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

.bottom-price {
	width: 170px;
	height: 20px;
	// border: 1px solid blue;
	position: relative;
	left: 700px;
}

.total-price {
	font-size: 16px;
  color: #e4393c;
  font-weight: 700;
}

.settle-accounts {
	display: block;
	background: #e54346;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	position: relative;
	left: 900px;
	top: -41px;
	width: 95px;
	height: 57px;
	line-height: 52px;
	cursor: pointer;
}

// 弹出框给页面添加阴影面积
#hidebg {
	position:absolute;
	left:0px;
	top:0px;
  background-color:#000;
  width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
  filter:alpha(opacity=10);  /*设置透明度为60%*/
  opacity:0.1; /*非IE浏览器下设置透明度为60%*/
  display:none;
  z-index: 2;
}

#hidebox, #delete-shop{
	display: none;
	position: absolute;
	width: 360px;
	height: 170px;
	background: white;
	border: 4px solid #BEBEBE;
	left: 40%;
	top: 40%;
	z-index: 3;
}

.pu-title-con{
	width: 100%;
	height: 30px;
	background: #f3f3f3;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.pu-title{
	color: #666;
	position: relative;
	top: -8px;
	left: 3px;
}

.pu-x:hover{
	text-decoration: none;
	color: #666;
}

.pu-x{
	font-size: 18px;
 	color: #666;
 	float: right;
 	cursor: pointer;
}

.jingao {
	position: relative;
	top: 40px;
}

.tishi {
	font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #ff6c00;
  position: relative;
  top: 30px;
}

.pu-delete-btn {
	display: block;
	width: 35px;
	height: 20px;
	background-color: #f2f2f2;
	color: #666;
	font-size: 12px;
	border: 1px solid	#e1e1e1;
	position: relative;
	top: 50px;
	left: 110px;
	text-align: center;
}

.pu-delete-btn:hover {
	text-decoration: none;
	color: #666;
}

// shopping_carts/emptycart.html.erb

.empty-shopping {
	width: 490px;
	height: 80px;
	background: white;
	// border: 2px solid red;
	margin: 0px auto;
	position: relative;
	top: 60px;
	// background: #f6f6f6;
}

.empty-title {
	color: #333;
	font-size: 14px;
	position: relative;
	top: -10px;
}

.empty-btn {
	display: block;
	width: 45px;
	height: 25px;
	background-color: #e74649;
	font-family: arial,"Microsoft YaHei";
	font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-top: 4px;
  position: relative;
  top: -20px;
  left: 90px;
}

.empty-btn:hover{
	text-decoration: none;
	color: #fff;
	background: #FF5151;
}

.go-shop {
	color: #005ea7;
	position: relative;
	left: 150px;
	top: -43px;
}

.go-shop:hover {
	text-decoration: none;
	color: red;
}
