// register.html.erb

.result-wrap {
	width: 1080px;
	height: 150px;
  text-align: center;
  background: #fff;
  margin: 0 auto;
  margin-top: 25px;
}

.result-title {
    color: #555;
    -webkit-padding-before: 40px;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    // border: 1px solid #ccc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-top: 100px;
    // width: 85px;
    // height: 25px;
    // margin: 0 auto;
}

p a:-webkit-any-link {
    text-decoration: none;
}

p a:hover{
	color: red;
}

.result-content a:link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.personal-center{
   display: block;
   padding-bottom: 10px;
   color: black;
   position: relative;
   left: 20px;
}

.center-editor {
    width: 65px;
    height: 30px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    position: relative;
    top: 10px;
    left: 20px;
}

.submit-editor{
    width: 65px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    position: relative;
    left: 20px;
}

.center-editor:hover {
    text-decoration: none;
    color: white;
}

.notice-con {
    position: relative;
    top: -15px;
    left: -400px;
    width: 155px;
    height: 20px;
}