// search.html.erb 
.header {
	width: 100%;
	height:  115px;
	background: white;
}

.logo {
	position: relative;
  left: 175px;
  top: 25%;
  font-size: 36px;
  font-weight: 700;
}
.logo a {
  color: #c60023;
}

.logo a:link {
  text-decoration: none;
}
.logo a:hover {
  color: #c60023;

}

.search-form {
		position: relative;
		left: 350px;
    top: -15%;
    width: 570px;
    border: 2px solid #c60023;
    font-size: 15px;
    // outline: none;
}

.search-input {
  width: 570px;
  height: 40px;
  border: none;
  outline:none;
}

.search-btn {
    position: absolute;
    width: 80px;
    height: 43px;
    border: none;
    left: 568px;
    top: -2px;
    background-color: #c60023;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer;
}

// welcome/index.html.erb
.cate-left{
  width: 240px;
  height: 350px;
  background: #666;
  position: relative;
  left: 100px;
}

.list-item {
  width: 240px;
  height: 40px;
  position: relative;
  top: 10px;
}

.category_title{
  color: #fff;
  font-size: 14px;
  position: relative;
  top: 20%;
  left: 5%;
}

.list-item:hover {
  background: #909090;
}

.move-image-con {
  width: 830px;
  height: 350px;
  // border: 1px solid blue;
  position: relative;
  left: 250px;
  top: -200px;
  float: left;
  overflow: hidden;
  margin: 0px auto;  
}

.common-image {
  width: 850px;
}

// 首页轮播图样式
#container { width: 850px; height: 350px; overflow: hidden; position: relative;}
#container a{ padding: 0px; margin: 0px; }
#container #list { width: 5950px; height: 350px; position: absolute; z-index: 1;}
#container #list img { float: left;}
#buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 350px;}
#buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 15px; height: 15px; border-radius: 50%; background: #333; margin-right: 5px;}
#buttons .on {  background: orangered;}
.arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#container:hover .arrow { display: block;}
#prev { text-decoration: none;position: relative; top: 150px;left: -10px;}
#next { text-decoration: none;position: relative; top: 110px;float: right;right: 10px;}

// 首页各分类样式
.diff-category-con { height:auto; width: 1080px; position: relative; top: -200px;overflow: hidden; zoom:1;left: 100px;}
.diff-category {height: 280px;width: 1080px;position: relative;top: 10px;margin-bottom: 20px;}
.category-ft {color: #d58717; font-weight: 400; font-size: 20px;position: absolute;left: 10px;}
.category-ft-image { font-weight: 1080px; border-top: 1px solid #d58717;height: 248px;position: relative;top: 40px;}
.image-con-ft {height: 175px; width: 175px; padding-right: 20px;position: relative;top: 10px;left: 20px;}
.image-con-ftt {height: 220px; width: 200px;background: white;float: left;margin-right: 20px;position: relative;top: 20px;}

