<div class="navbar navbar-default">
  <a class="navbar-brand" href="<%= admin_root_path %>">MMALL ADMIN</a>
</div>

<div class="page-wrapper">
  <div class="left-nav">
    <ul>
      <li class="li-one">
        <a href="#">
          <%= image_tag("home.png") %>
          <span>Home</span>
        </a>
      </li>
      
      <li class="li-two">
        <a href="#">
          <%= image_tag("shopping.png") %>
          <span>商品</span>
        </a>
        <ul>
          <li class="li-three"><a href="#">商品管理</a></li>
          <li class="li-three"><a href="#">品类管理</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <%= image_tag("order.png") %>
          <span>订单</span>
        </a>
        <ul>
          <li class="li-four"><a href="#">订单管理</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
