<div class="navbar navbar-default">
  <a class="navbar-brand" href="<%= admin_root_path %>">MMALL ADMIN</a>
</div>

<div class="page-wrapper">
  <div class="nav">
    <ul>
      <div class="home-con">
        <%= image_tag("home.png", class: "home-png") %>
        <a href="#"><li class="nav-home">Home</li></a>
      </div>
      
      <span>
        <%= image_tag("shopping.png") %>
        <li>商品</li>
      </span>
      <a href="#"><li>商品管理</li></a>
      <a href="#"><li>品类管理</li></a>
      <span>
        <%= image_tag("order.png") %>
        <li>订单</li>
      </span>
      <a href="#"><li>订单管理</li></a>
    </ul>
  </div>
</div>
