<div class="navbar navbar-default">
  <a class="navbar-brand" href="<%= admin_root_path %>">MMALL ADMIN</a>
</div>

<div class="page-wrapper">
  <div class="left-nav">
    <ul>
      <li class="li-one">
        <a href="/admin" class="a-one">
          <%= image_tag("home.png") %>
          <span>Home</span>
        </a>
      </li>

      <ul>
        <li class="li-two">
          <a href="" class="a-one">
            <%= image_tag("shopping.png") %>
            <span>商品</span>
          </a>
        </li>
        <li class="li-two"><a href="#" class="a-two">商品管理</a></li>
        <li class="li-one"><a href="/admin/categories" class="a-two">品类管理</a></li>
      </ul>

      <ul>
        <li class="li-two">
          <a href="#" class="a-one">
            <%= image_tag("order.png") %>
            <span>订单</span>
          </a>
        </li>
        <li class="li-one"><a href="#" class="a-two">订单管理</a></li>
      </ul>

    </ul>
  </div>
</div>
