<%= render partial: "welcome/search" %>
<%= render partial: "categories/productlist", locals: { order: '商品'} %>

<div class="sorter-con">
  <ul>
    <a href="#" class="sorter-a"><li class="sorter-left">推荐排序</li></a>
    <a href="#" class="sorter-b">
      <li class="sorter-right">
        价格
        <i class="fa fa-caret-up"></i>
        <i class="fa fa-caret-down"></i>
      </li>
    </a>
  </ul>

  <div class="product">
    <%= render partial: "categories/product" %>
  </div>
  
</div>


