<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="top-nav"></div>
<div class="nav">
  <ul class='ul-nav'>
    <a href="sessions/new"><li class="login">登录</li></a>
    <a href="users/new"><li class="register">注册</li></a>
    <a href="#"><li>购物车</li></a>
    <a href="#"><li>我的订单</li></a>
    <a href="#"><li>我的MMAL</li></a>
    <a href="#"><li>关于MMAL</li></a>
  </ul>
</div>
<%= yield %>